
/* Agencies */
.agency-block {
	background-color:$subtle-lightest;
	border-bottom:1px solid $subtle-light;
	padding:50px 0;
	text-align:center;

	nav {
		margin:40px 0 0;

		img {
			margin:0 20px;
		}
	}

	a {
		font-weight:400;
		margin-top:40px;
		text-decoration:none;
	}
}

.page-agencies {
	.agency-block {
		background-color:$subtle-lighter;
	}
}